    <footer class="page-footer">
        <div class="container">
            <div class="row flow-offset-1">
                <div class="col-sm-6">

                    <!--Brand-->
                    <div class="brand">
                        <h1 class="brand_name">
                            <a href="./">Kunal Marble</a>
                        </h1>
                    </div>
                    <!--Brand-->

                    <!--Copyright-->
                    <div class="copyright" style="font-size: 12px;">
                        © <span id="copyright-year"></span> All rights reserved.
                        <br>
                        <span><small>Powered by Madlamz</small></span>
                    </div>
                    <!--Copyright-->

                </div>
                <div class="col-sm-3 pull-right">

                    <!--Contacts-->
                    <address class="contact-info text-center">
                        <dl>
                            <dt>Contact us:</dt>
                            <dd><a href="callto:#" class="bold">+91 9643868955</a></dd>
                        </dl>
                    </address>
                    <!--Contacts-->

                </div>

            </div>
        </div>
    </footer>